{% extends "shared/_base.html" %}

{% block content %}
    <!-- Contacts section -->
    <section class="site-section hero section-contact background-overlay"
             id="contact">
        <div class="container">
            <p class="section-subtitle" style="color: white"><span>CONTACT US</span></p>
            <div class="row">
                <form>
                    <div class="col-md-4">
                        <label>
                            <input class="form-control" type="text" placeholder="Name">
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label>
                            <input class="form-control" type="email" placeholder="Email" required>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label>
                            <input class="form-control" type="text" placeholder="Subject" required>
                        </label>
                    </div>
                    <div class="col-sm-12">
                        <label>
                            <textarea class="form-control" placeholder="Your Message" required></textarea>
                        </label>
                    </div>

                    <div class="col-sm-12">
                        <button class="btn btn-inverted">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </section><!-- /.section-contact-->
    <!-- End Contacts section -->
{% endblock content %}