{% extends "shared/_base.html" %}
{% load static %}

{% block content %}

        <!-- Team section -->

        <section class="site-section section-team hero background-overlay" id="team">
            <div class="container">
                <h2>MEET MY TEAM</h2>
                <p class="section-subtitle"><span>This is the team that is working with me</span></p>

                <div class="team">
                    <div class="row">
                        <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/moon.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name">Julian Muslia</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Julian Muslia</h3>
                                            <p class="team-member-back-position">Software Developer</p>
                                            <p class="team-member-back-info">One of the youngest developer of the group. </p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                           <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/moon.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name">Love</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Love</h3>
                                            <p class="team-member-back-position">Software Developer</p>
                                            <p class="team-member-back-info">Nana BackEnd-it , Ca ke naj problem une ta gje me sekonda </p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                        <!-- Team Member -->
                        <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/moon.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name">Drini Kaja</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Drini Kaja</h3>
                                            <p class="team-member-back-position">Software Developer</p>
                                            <p class="team-member-back-info">Nana BackEnd-it , Ca ke naj problem une ta gje me sekonda </p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                        <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/moon.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name">Dariel Duka</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Darile Duka</h3>
                                            <p class="team-member-back-position">Web Developer</p>
                                           <p class="team-member-back-info">One of the best programmers in web development.</p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                        <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/moon.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name">Klajdi Hysaj</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Klajdi Hysa</h3>
                                            <p class="team-member-back-position">Seo Specialist</p>
                                            <p class="team-member-back-info">Nana SEOs  pune e veta ca ka aj  . ////nvljadvhkld </p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                    </div>
                </div><!-- /.team -->
            </div>
        </section><!-- /.section-team -->
        <!-- End Team section -->

{% endblock content %}