{% extends "shared/_base.html" %}
{% load static %}

{% block content %}

        <!-- Team section -->
        <section class="site-section section-team hero" id="team" style="background-image: url(../../static/assets/img/redmoon.jpeg) ">
            <div class="container">
                <h2>Fortune Tellers</h2>
                <p class="section-subtitle" style="color: white"><span>This is the best Fortune Tellers team that is working with you!!!</span></p>

                <div class="team">
                    <div class="row">

                        <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/fortuneteller_Ledi.JPG'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name" style="color: white">Ledina Moses</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Ledina Moses</h3>
                                            <p class="team-member-back-position">Fortune Teller</p>
                                            <p class="team-member-back-info">If you want luck! Call Me!!! I'm your solution!</p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                        <!-- Team Member -->
                        <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/fortuneteller_Juli.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name" style="color: white">Julian Muslia</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Julian Muslia</h3>
                                            <p class="team-member-back-position">Frotune Teller</p>
                                            <p class="team-member-back-info">One of the youngest fortune teller of the group. </p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                        <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/fortuneteller_dariel.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name" style="color: white">Dariel Duka</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Darile Duka</h3>
                                            <p class="team-member-back-position">Fortune Teller</p>
                                           <p class="team-member-back-info">One of the best fortune teller in Albania!</p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                        <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/fortuneteller_klajd.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name" style="color: white">Klajdi Hysaj</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name" style="color: white">Klajdi Hysa</h3>
                                            <p class="team-member-back-position">Fortune Teller</p>
                                            <p class="team-member-back-info">The best fortune teller in the World!</p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                         <!-- Team Member -->
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="{% static 'assets/img/fortuneteller_erdrin.jpeg'%}" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name" style="color: white">Erdrini Kaja</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Erdrini Kaja</h3>
                                            <p class="team-member-back-position">Fortune Teller</p>
                                            <p class="team-member-back-info">Creator of Full Moon, A good Fortune teller!</p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->
                                </div>
                            </div><!-- /.team-member -->
                        </div>
                    </div>
                </div><!-- /.team -->
            </div>
        </section><!-- /.section-team -->
        <!-- End Team section -->

{% endblock content %}