
{% extends "shared/_base.html" %}

{% load static %}

{% block content %}
    <section class="hero background-overlay" style="background-image:url({{ img_url }})">

        <h1 class="section-subtitle" style="color: white">FULL MOON</h1>
        <br/><br/><br/><br/>
        <p class="section-subtitle" style="color: white"><span>{{ title }}</span></p>
        <br/><br/>
        <p class="section-subtitle"><span>{{ description }}</span></p>


    </section><!-- /.section-contact-->

{% endblock content %}