
<!DOCTYPE html>
<html lang="en">
   {% load static %}
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pixel Perfect Portfolio</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Varela" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="manifest" href="{% static 'assets/img/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'assets/img/safari-pinned-tab.svg'%}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    <!-- Font Awesome core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>
<body>
        <!-- Header -->
    <header id="masthead" class="site-header background-overlay:before ">
        <nav id="primary-navigation" class="site-navigation" data-spy="affix">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div><!-- /.navbar-header -->

                <div class="main-menu collapse navbar-collapse" id="portfolio-perfect-collapse">

                    <!-- Navigation -->
                    <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll"><a href="{% url 'home page' %}">Home</a></li>
                    <li class="page-scroll"><a href="#intro">Intro</a></li>
                        <li class="page-scroll"><a href="{% url 'about page' %}">Team</a></li>
                        <li class="page-scroll"><a href="{% url 'contact page' %}">Contact</a></li>

                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->
            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->
    <!-- End Header -->

         {% block contact %}{% endblock contact %}

    <!-- Footer -->
    <footer id="colophon" class="site-footer">

        <div class="container-fluid">

            <ul class="list-unstyled list-inline">
                <li class="page-scroll"><a href="{% url 'home page' %}">Home</a></li>
                <li class="page-scroll"><a href="#intro">Intro</a></li>
                <li class="page-scroll"><a href="{% url 'about page' %}">Team</a></li>
                <li class="page-scroll"><a href="{%  url 'contact page' %}">Contact</a></li>
            </ul>

            <div class="page-scroll">
                <a href="#top" class="rectangle">
                    <i class="fa fa-angle-double-up"></i>
                </a>
            </div>

        </div>

        <div class="container text-center">
            <p class="copyright">Moon - 2022</p>
        </div>

    </footer><!-- /#footer -->
    <!-- End Footer -->

    <!-- Modals -->
    <div id="portfolioItem1" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{% static 'assets/img/portfolio-1.jpg'%}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem7" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{% static 'assets/img/portfolio-7.jpg'%}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem8" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{% static 'assets/img/portfolio-8.jpg'%}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery core js | Do not Delete -->
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>

    <!-- Bootstrap core js | Do not Delete -->
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>

    <!-- Bootstrap progressbar JS -->
    <script src="{% static 'assets/js/bootstrap-progressbar.min.js'%}"></script>

    <!-- Count To JS -->
    <script src="{% static 'assets/js/jquery.countTo.min.js'%}"></script>

    <!-- Easing JS -->
    <script src="{% static 'assets/js/jquery.easing.min.js'%}"></script>

    <!-- Shuffle JS -->
    <script src="{% static 'assets/js/jquery.shuffle.min.js'%}"></script>

    <!-- Slick Carousel JS -->
    <script src="{% static 'assets/js/slick.min.js'%}"></script>

    <!-- Touchswipe JS -->
    <script src="{% static 'assets/js/touchswipe.min.js'%}"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/script.js'%}"></script>

</body>
</html>