{% extends "pages/_base.html" %}

{% block contact %}
        <!-- Contacts section -->
        <section class="site-section section-contact" id="contact">
            <div class="container">
                <h2>CONTACT MiKE</h2>
                <p class="section-subtitle"><span>Here i am</span></p>
                <div class="row">
                    <form>
                        <div class="col-md-4">
                            <label>
                                <input class="form-control" type="text" placeholder="Name" required>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <input class="form-control" type="email" placeholder="Email" required>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <input class="form-control" type="text" placeholder="Subject" required>
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label>
                                <textarea class="form-control" placeholder="Your Message"  required></textarea>
                            </label>
                        </div>

                        <div class="col-sm-12">
                            <button class="btn btn-inverted">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </section><!-- /.section-contact-->
        <!-- End Contacts section -->
{% endblock contact %}