<!-- Footer -->
<footer id="colophon" class="site-footer">

    <div class="container-fluid">

        <ul class="list-unstyled list-inline">
            <li class="page-scroll"><a href="{% url 'website-home-page' %}">Home</a></li>
            <li class="page-scroll"><a href="{% url 'website-event-page' %}">Events</a></li>
            <li class="page-scroll"><a href="{% url 'website-fortune-teller-page' %}">Fortune Teller</a></li>
            <li class="page-scroll"><a href="{% url 'website-contact-page' %}">Contact</a></li>
        </ul>

        <div class="page-scroll">
            <a href="#top" class="rectangle">
                <i class="fa fa-angle-double-up"></i>
            </a>
        </div>

    </div>

    <div class="container text-center">
        <p class="copyright">Moon - 2022</p>
    </div>

</footer><!-- /#footer -->
<!-- End Footer -->