{% load static %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery core js | Do not Delete -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<!-- Bootstrap core js | Do not Delete -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Bootstrap progressbar JS -->
<script src="{% static 'assets/js/bootstrap-progressbar.min.js' %}"></script>

<!-- Count To JS -->
<script src="{% static 'assets/js/jquery.countTo.min.js' %}"></script>

<!-- Easing JS -->
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>

<!-- Shuffle JS -->
<script src="{% static 'assets/js/jquery.shuffle.min.js' %}"></script>

<!-- Slick Carousel JS -->
<script src="{% static 'assets/js/slick.min.js' %}"></script>

<!-- Touchswipe JS -->
<script src="{% static 'assets/js/touchswipe.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/script.js' %}"></script>

